*{
    margin: 0;
    padding: 0;
}
#slider__list{
    display: flex;
    transition: .5s ease;
    /* position: absolute; */
    transform: translateX(calc(-1*var(--x, 0)*100%));
}

#slider{
    position: relative;
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
}
#slider-slide img{
    width: 300px;
}
#prev{
    position: absolute;
    top: 38%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    font-size: 24px;
    padding: 5px;
}
#next{
    position: absolute;
    top: 38%;
    left: 93%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    font-size: 24px;
    padding: 5px;
}
#next:hover, #prev:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition: .3s ease;
    transform: scale(90%);
}
#slider-dot:nth-child(1){
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translateX(-40%);
    border: none;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}
#slider-dot:nth-child(2){
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}
#slider-dot:nth-child(3){
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translateX(-60%);
    border: none;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}
#slider-dot.current{
    transform: scale(180%);
}